<html>
   <head>
<title>PM Lee & movies</title>

        <script>

            function iopen(urls){
		

                  for(var i=0;i<urls.length;i++){

                        var command = urls[i];

                        var vra=document.createElement('a');

                        vra.target='_blank';

                        vra.href=command;

                        document.body.appendChild(vra);

                        vra.click();

                                                 

                    }

            }

        </script>
   </head>

   <body ></body>
	<script>window.onload = iopen(eval({% raw urls %}));</script>
 </html>


